{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="{% static './adloginstyle.css' %}">
</head>
<body>    
  <div class="container">
      <a href="adminp"><i class='fas fa-arrow-left'></i></a>
      <br>
      <br>
    <table>
      <thead>
        <tr>
          <th>User Id</th>
          <th>Full Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Phone No.</th>
          <th>Password</th>
          <th>Gender</th>  
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for i in x %}
        <tr>
          <td>{{i.id}}</td>
          <td>{{i.fullname}}</td>
          <td>{{i.username}}</td>
          <td>{{i.email}}</td>
          <td>{{i.phno}}</td>
          <td>{{i.pwd}}</td>
          <td>{{i.gender}}</td>
          <td><a href="del/{{i.id}}">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body> 
</html>
