{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="{% static 'logstyle.css' %}">
</head>
<body>
  <div class="wrapper">
    <form action="logincode">
      <h2>Login</h2>
        <div class="input-field">
        <input type="text" name="a1" required>
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" name="a2" required>
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
    </form>
      <div class="register">
        <p>Don't have an account? <a href="registration">Register</a></p>
        <p><a href="adminp">Admin Login</a></p>
      </div>
    
  </div>
</body>
</html>